SenseFlow example.blueprint.json
{
    "name": "SenseFlow example",
    "flow": [
        {
            "id": 2,
            "module": "http:ActionSendDataAPIKeyAuth",
            "version": 3,
            "parameters": {
                "auth": 106516,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://app.senseflow.io/api/phone-call/",
                "data": "{\n  \"to_number\": \"+123456789\",\n  \"language\": \"en\",\n  \"first_message\": \"Hi Bob, this is Alice from ACME Corp.\",\n  \"on_behalf_of\": \"Alice Johnson\",\n  \"goal\": \"Book a 30-minute partnership meeting with Bob next week.\",\n  \"context\": \"Caller: Alice Johnson, Sales Manager at ACME Corp. Callee: Bob Smith, CTO at Beta Inc. They met last week at TechConf and discussed potential partnership opportunities. Availability: Alice is free Tue–Thu next week between 10:00 and 14:00 CET. Preferred location: Beta Inc. HQ in Prague or video call if Bob prefers remote. Tone: Friendly yet professional. Please confirm a suitable time and send a calendar invite if possible.\"\n}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    },
                    "parameters": {
                        "auth": {
                            "label": "SenseFlow"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "auth",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicRepeater",
            "version": 1,
            "parameters": {},
            "mapper": {
                "step": "1",
                "start": "1",
                "repeats": "10"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {},
                "expect": [
                    {
                        "name": "start",
                        "type": "number",
                        "label": "Initial value",
                        "required": true
                    },
                    {
                        "name": "repeats",
                        "type": "number",
                        "label": "Repeats",
                        "required": true,
                        "validate": {
                            "max": 10000,
                            "min": 0
                        }
                    },
                    {
                        "name": "step",
                        "type": "number",
                        "label": "Step",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendDataAPIKeyAuth",
            "version": 3,
            "parameters": {
                "auth": 106516,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "Not Finished",
                "conditions": []
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://app.senseflow.io/api/phone-call/{{2.data.id}}/",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    },
                    "parameters": {
                        "auth": {
                            "label": "SenseFlow"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "auth",
                        "type": "keychain:apikeyauth",
                        "label": "Credentials",
                        "required": true
                    },
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 30,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 375565
            },
            "mapper": {
                "json": "{{4.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "PhoneCallStatusResponse"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "outcome",
                        "label": "Outcome",
                        "help": "",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "result",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "confidence",
                                "label": null,
                                "help": "",
                                "type": "number",
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "rationale",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "id",
                        "label": "ID",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "status",
                        "label": "Status",
                        "help": "",
                        "type": "text",
                        "default": "in_progress",
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "transcript",
                        "label": "Transcript",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "summary",
                        "label": "Summary",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "error_message",
                        "label": "Error Message",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 32,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 2
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "filter": {
                                "name": "Call Completed",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{30.status}}",
                                            "o": "text:equal",
                                            "b": "completed"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 28,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "filter": {
                                                "name": "Goal Not Achieved",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{30.outcome.result}}",
                                                            "o": "text:equal",
                                                            "b": "success"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "json": "{"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 0,
                                                    "messages": [
                                                        {
                                                            "category": "last",
                                                            "severity": "warning",
                                                            "message": "A transformer should not be the last module in the route."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 29,
                                                    "module": "builtin:Commit",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2100,
                                                            "y": 0
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 17,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "filter": {
                                                "name": "Goal Achieved",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "json": "{"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 300,
                                                    "messages": [
                                                        {
                                                            "category": "last",
                                                            "severity": "warning",
                                                            "message": "A transformer should not be the last module in the route."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 26,
                                                    "module": "builtin:Commit",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2100,
                                                            "y": 300
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": ""
                            },
                            "filter": {
                                "name": "Call Failed",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{30.status}}",
                                            "o": "text:equal",
                                            "b": "failed"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "json": "{"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "messages": [
                                        {
                                            "category": "last",
                                            "severity": "warning",
                                            "message": "A transformer should not be the last module in the route."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "Choose a data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 25,
                                    "module": "builtin:Commit",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 600
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 33,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "In Progress",
                                "conditions": []
                            },
                            "mapper": {
                                "duration": "10"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 907
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "validate": {
                                            "min": 1,
                                            "max": 300
                                        },
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": [
            {
                "moduleIds": [
                    24
                ],
                "content": "<p>The call failed - user busy, declined etc</p>",
                "isFilterNote": true,
                "metadata": {
                    "color": "#9138FE"
                }
            },
            {
                "moduleIds": [
                    17
                ],
                "content": "<p>This is to break the repeater loop - do-while cycle</p>",
                "isFilterNote": false,
                "metadata": {
                    "color": "#9138FE"
                }
            }
        ]
    }
}